#video{
    width: 70%;
    margin-top: 5%;
    border: transparent;
    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.2), 0 20px 60px 0 rgba(0, 0, 0, 0.19);
    transition: 1.2s;
    border-radius: 50px;
    float: none;
 }

#video:hover {
    width: 100%;
    border-radius: 20px;
}

.standby-information {
    margin-top: 8%;
    color: white;
    font-size: 2.4em;
    font-weight: bold;
}

.standby-icon {
    margin-top: 8%;
    margin-bottom: 5%;
    animation : pulseStandbyInformation 2.5s infinite;
}

@keyframes pulseStandbyInformation {
    70% {transform:scale(1.9,1.9) }
}

#canvas{
    margin-left: -320px;
    z-index: 1;
}

#cameraOutput {
    width: 100%;
}