h1{
    font-size: 3em;
}

.photos-page{
    margin-top: 2%;
}

.notifications {
    padding: 5%;
    border-radius: 20px;
    background: #b23d42;
    height: 100%;
}

.single-notification{
    font-size: 1.5em;
    text-align: left;
}

.photos{

}

.single-photo {
    display: inline-block;
    background-color: #968f74;
    margin-bottom: 10%;
}

.image:hover{
    width: 200%;
    z-index: 1;
}

.image{
    width: 100%;
    transition: 1s;
    position:relative;
}

