.App-header{
    margin: auto;
}

.App-logo {
    animation: App-logo-spin infinite 7s linear;
    margin-top: 10%;
}

.App-title {
    text-align: center;
    font-size: 4em;
    margin-top: 8%;
    font-weight: bold;
    color: #0e2e3e;
    /*color: #809897;*/
}

@keyframes App-logo-spin {
    50% {transform: rotate(30deg)}
}
